body {background-color:#FFFFFF; color:#666666; font-family: Verdana,Arial, san-serif; }

h1 {background-color: #002171; color: #FFFFFF; font-family: Georgia, serif; line-height: 200%}

nav {font-weight: bold; background-color: #BBDEFB}

h2 {color:#1976D2; font-family: Georgia, serif;}

dt {font-weight: bold; background-color: #002171}

.resort {color:#1976D2; font-size: 1.2em;}

footer {font-size: 0.7em; font-style: italic; text-align: center}

#wrapper {width:80%; margin-right:auto; margin-left:auto;}